
<div class="container mt-3">
            <ul class="list-group shadow">  
                <li  class="list-group-item bg-warning text-center ">agregar telefono:</li>
                <li class="bg-light container">
                    <div class="container mb-3 ">
                        <form [formGroup]="telefonoForm" (ngSubmit)="registrar()">
                            
                            <div class="form-group"> 
                                <label> numero de telefono: </label>
                                <div *ngFor="let error of errorMessages.numero" style="margin: 0;">
                                    <ng-container 
                                    *ngIf="numero.hasError(error.type) && (numero.dirty || numero.touched)" >
                                        <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                                    </ng-container>
                                </div>
                                <input  class="form-control" formControlName="numero" type="text"/>
                            </div>
                        
                            <div class="form-group"> 
                                <label> tipo de telefono </label>
                                <div *ngFor="let error of errorMessages.campo_requerido" style="margin: 0;">
                                    <ng-container 
                                    *ngIf="tipo_tlf.hasError(error.type) && (tipo_tlf.dirty || tipo_tlf.touched)" >
                                      <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                                    </ng-container>
                                </div>
                                <select class="form-control"  formControlName="tipo_tlf" >
                                    <option value="F">Fijo</option>
                                    <option value="C">Celular</option>
                                </select>
                            </div>
                        
                            <div>
                                <button type="button" class="btn btn-primary" [disabled]="telefonoForm.invalid" type="sutmit">
                                    registrar
                                </button>
                            </div>
                        </form>
                        </div>
                </li> 
            </ul> 
</div>
