<app-menu ></app-menu>

    <div class="row-md-12">
        <div class="col-md-12 text-light" style="display: flex; justify-content: center; margin-top:6rem;">
          <img src="favicon.ico" width="128" height="128">
        </div>
        <div class="col-md-12 text-light" style="display: flex; justify-content: center">
          <h1>AVEPANE-SRA</h1>
        </div>
        <div class="col-md-12 text-light" style="display: flex; justify-content: center">
          <h6>
            sistema de registro de estudiantes de las diferentes carreras de
            AVEPANE
          </h6>
        </div>
      </div>
