
<div class="container  rounded mt-5">
    <div class="row d-flex justify-content-center ">

    </div>
    <div class="col bg-primary d-flex justify-content-center  rounded-top"> 
        <div class=" text-light font-weight-bold mt-2 mb-2"> formulario de digitalización de registros
        </div> 
    </div>
    <div class="col bg-light ">
        <form [formGroup]="registroForm" (ngSubmit)="registrar()">
            <div class="form-group"> 
                <label> cédula de identidad: </label>
                <div *ngFor="let error of errorMessages.cedula" style="margin: 0;">
                    <ng-container 
                    *ngIf="cedula.hasError(error.type) && (cedula.dirty || cedula.touched)" >
                        <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                        </ng-container>
                </div>
                <input  class="form-control" formControlName="cedula" type="text"/>
            </div>

            <div class="form-group"> 
                <label> tipo de cédula </label>
                <div *ngFor="let error of errorMessages.campo_requerido" style="margin: 0;">
                    <ng-container 
                        *ngIf="tipo_cedula.hasError(error.type) && (tipo_cedula.dirty || tipo_cedula.touched)" >
                          <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                    </ng-container>
                </div>
                <select class="form-control"  formControlName="tipo_cedula" >
                    <option value="V">Venezolano</option>
                    <option value="E">Extranjero</option>
                </select>
            </div>
            
            <div class="form-group">
                <label> nombre: </label>
                <div *ngFor="let error of errorMessages.nombre_apellido" style="margin: 0;">
                    <ng-container 
                        *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)" >
                        <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                    </ng-container>
                </div>
                <input class="form-control"  formControlName="nombre" type="text"/>
            </div>

            <div class="form-group">
                <label> segundo nombre: </label>
                <div *ngFor="let error of errorMessages.nombre_apellido_Opcional" style="margin: 0;">
                    <ng-container 
                        *ngIf="nombre2.hasError(error.type) && (nombre2.dirty || nombre2.touched)" >
                        <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                    </ng-container>
                </div>
                <input class="form-control" formControlName="nombre2" type="text"/>
            </div>

            <div class="form-group">
                <label> apellido: </label>
                <div *ngFor="let error of errorMessages.nombre_apellido" style="margin: 0;">
                    <ng-container 
                    *ngIf="apellido.hasError(error.type) && (apellido.dirty || apellido.touched)" >
                        <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                        </ng-container>
                </div>
                <input class="form-control" formControlName="apellido" type="text"/>
            </div>


            <div class="form-group">
                <div *ngFor="let error of errorMessages.nombre_apellido_Opcional" style="margin: 0;">
                    <ng-container 
                    *ngIf="apellido2.hasError(error.type) && (apellido2.dirty || apellido2.touched)" >
                        <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                    </ng-container>
                </div>
                <label> segundo apellido: </label>
                <input  class="form-control" formControlName="apellido2" type="text"/>
            </div>

                
            <div class="form-group">
                <label> género: </label>
                <div *ngFor="let error of errorMessages.campo_requerido" style="margin: 0;">
                    <ng-container 
                    *ngIf="genero.hasError(error.type) && (genero.dirty || genero.touched)" >
                        <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                        </ng-container>
                </div>
                <select class="form-control"  formControlName="genero">
                    <option value="M">hombre</option>
                    <option value="F">mujer</option>
                </select>
            </div>

                
            <div class="form-group">
                <label> fecha de nacimiento: </label>
                <div *ngFor="let error of errorMessages.campo_requerido" style="margin: 0;">
                    <ng-container 
                    *ngIf="fecha_nacimiento.hasError(error.type) && (fecha_nacimiento.dirty || fecha_nacimiento.touched)" >
                        <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                        </ng-container>
                </div>
                <div class="row md-12">
                    <div class="col md-10">
                        <input class="form-control" type="date" min="1900-01-01" formControlName="fecha_nacimiento" > 
                    </div>    
                </div>
            </div>

               
            <div class="form-group">
                    <label> correo: </label>
                    <div *ngFor="let error of errorMessages.email" style="margin: 0;">
                        <ng-container 
                        *ngIf="email.hasError(error.type) && (email.dirty || email.touched)" >
                          <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                        </ng-container>
                    </div>
                    <input  class="form-control" type="email" formControlName="email"/>
            </div>

            <div class="row">
                    <div class="col-md-6" style="display: flex; justify-content: flex-start;">
                        <button type="button"  class="btn btn-danger" style=" margin: 10px;" 
                            routerLink="/registro"
                        > 
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                            regresar 
                        </button>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: flex-end;">
                        <button type="button"  class="btn btn-primary" [disabled]="registroForm.invalid" type="sutmit" style=" margin: 10px;" > registrar 
                        </button>
                </div>

            </div>
        </form>
    </div>

</div>

