

<div class="container bg-light rounded">
    
    <div class="row bg-primary d-flex justify-content-center  rounded-top"> 
        <div class=" text-light font-weight-bold mt-3 mb-2"> calificar materia  
        </div> 
    </div>
    
    <form [formGroup]="materiaForm" (ngSubmit)="actualizar()">
        <div class="form-group"> 
            <label> Elegir materia</label>
            <div *ngFor="let error of errorMessages.campo_requerido" style="margin: 0;">
                <ng-container 
                *ngIf="estado.hasError(error.type) && (estado.dirty || estado.touched)" >
                  <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                </ng-container>
            </div>
            <select class="form-control"  formControlName="estado" >
                <option value="aprobado">aprobado</option>
                <option value="retirado">retirado</option>
                <option value="reprobado">reprobado</option>
            </select>
        </div>

        <div class="form-group">
            <label> nota final: </label>
            <div *ngFor="let error of errorMessages.nota" style="margin: 0;">
                <ng-container 
                *ngIf="nota.hasError(error.type) && (nota.dirty || nota.touched)" >
                  <div style="margin: 0;" class="bg-danger" style="color: white; padding-left: 10px;"> {{error.message}}</div>
                </ng-container>
            </div>
            <input class="form-control"  formControlName="nota" type="text"/>
        </div>

        <div class="col d-flex justify-content-center" >
            <button type="button"  class="btn btn-primary" [disabled]="materiaForm.invalid" type="sutmit" style=" margin: 10px;" > registrar </button>
        </div>
    </form>

</div>

