
<nav class="navbar navbar-expand navbar-dark bg-primary ">
  <div class="container-fluid ">
    <a class="navbar-brand">
      AVEPANE-SRA 
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" aria-current="page"  routerLink="/principal">
          Inicio</a>
        <a class="nav-link" routerLinkActive="active" aria-current="page"  routerLink="/consultas">
          consultas</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/registro">
          registro de alumnos
        </a>
        <a class="nav-link" routerLinkActive="active" routerLink="/matricula">inspricion de materias</a>
      </div>
    </div>
  </div>
</nav>



  