/* You can add global styles to this file, and also import other style files */

body{
    background: url('./assets/images/cover.jpg') repeat center fixed;
}

ul {
    list-style-type: none;
   }

   .nobull {
    list-style-type: none;
   }