<div class="container d-flex justify-content-end bg-primary rounded mt-3 mb-3 shadow " *ngIf="modo_edicion == 'true'">
    <h6 class=" mr-4 mt-3 text-white">
        edición de numeros telefonicos
    </h6>
    <button type="button" 
        class="btn btn-success mt-1 mb-1 shadow" 
        *ngIf="en_edicion == false"
        (click)="en_edicion = true"
        >
        edicion
    </button>
    <button type="button" 
        class="btn btn-danger mt-1 mb-1 shadow" 
        *ngIf="en_edicion == true"
        (click)="en_edicion = false"
        >
        salir de edición
    </button>
</div>

<div *ngIf="telefonos"> 
    <div class="container mb-3" *ngIf="en_edicion">
        <app-agregar-tlf *ngIf="en_edicion && modo_edicion == 'true'" 
            [id_alumno] = "id_alumno"
            (actualizacion) = "emitirEvento($event); en_edicion = false"
        ></app-agregar-tlf>
 
    </div>
    <div class="container mb-3">
        <ul class="list-group shadow"  *ngIf="!en_edicion">

            <li class="list-group-item bg-primary text-white text-center ">Telefonos de contacto:</li>
            <div *ngFor=" let telf of telefonos" >
                <li class="list-group-item" *ngIf= "telf.tipo_tlf == 'C'"> 
                    <button *ngIf="en_edicion" type="button" class="btn btn-danger shadow mr-1 mt-1 mb-1" (click) = "eliminarTlf(telf.id)"> eliminar </button>
                    Celular N°: {{formatear_numero(telf.numero)}} 
                </li>
                <li class="list-group-item" *ngIf= "telf.tipo_tlf == 'F'"> 
                    <button *ngIf="en_edicion" type="button" class="btn btn-danger shadow mr-1 mt-1 mb-1" (click) = "eliminarTlf(telf.id)"> eliminar </button>
                    telefono Fijo N°: {{formatear_numero(telf.numero)}} 
                </li>
            </div>      
        </ul>
    </div>
</div>



